
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 0;
    margin: 0;
    padding: 0;

    background-color: rgb(44, 44, 44);
    color: aliceblue;
    font-family: "Afacad Flux", sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }