@font-face {
    font-family: Outfit;
    src: url(asset/font/Outfit/Outfit-ExtraLight.ttf);
}


:root {
    --background-color:rgba(36, 36, 36, 1);
    --font-color:rgba(255, 255, 255, 1);
    --details-color:rgba(23, 23, 23, 1);
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

    padding: 0;
    background-color: var(--background-color);
    width:100%;
    font-family: Outfit;
    color: var(--font-color);
}


html::-webkit-scrollbar {
    width: 0px;               
}

html::-webkit-scrollbar-track {
    background: transparent;

}
  
html::-webkit-scrollbar-thumb {
    background-color: var(--details-color);    
    border-radius: 0px;       
    border: 0px solid var(--background-color);  
}


header {
    display: flex;
    height: 3vw;
    width: 100vw;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 20px;
    position:fixed;
    z-index: 1;

}

header h2 {
    font-size: 1.5vw;
    z-index: 3;
}

header nav {
    display: flex;
    margin-right:35px;
    gap: 15px;
    z-index: 4;
}

header nav a {
    font-size: 1vw;
    text-decoration: none;
    color: var(--font-color);
    transition: 1s;
    z-index: 4;
}

header nav a:hover {
    color:rgb(131, 131, 131);

}

section {
    width: 100%;
}

.home {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    padding: 0 0 0 5vw;
    gap: 2vw;
}

.home #linha-1 {
    z-index: 2;
    width: 75%;
    position: absolute;
    top: -90px;
    left: -80px;
}

.home #linha-2 {
    z-index: -1;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 400px;
    right: -600px;
}


.home .conteiner-img img {
    width: 400px;
    height: 400px;
    border-radius: 64% 36% 31% 69% / 49% 57% 43% 51%  ;
}

.home .conteiner-img {
    position: relative;

}

.home .conteiner-img::before {
    content: url(asset/svg/S-Tecnologias/icons8-html.svg);
    width:120px;
    height:120px;
    position: absolute;
    left: -30px;
    z-index: -1;
    animation: up 3s infinite alternate;

}
.home .conteiner-img .icon-js {
    width:90px;
    height:90px;
    position: absolute;
    right: -20px;
    top:0px;
    z-index: 0;
    animation: up 2.5s infinite alternate;
}

.home .conteiner-img::after {
    content: url(asset/svg/S-Tecnologias/icons8-css.svg);
    width:120px;
    height:120px;
    position: absolute;
    right: -20px;
    bottom: 0px;
    z-index: 0;
    animation: up 2s infinite alternate;
}

.home .conteiner-informacoes {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;

}

.home .conteiner-informacoes  h1 {
    font-size: 4vw;
}

.home .conteiner-informacoes  h2 {
    font-size: 4vw;
}


.home .conteiner-informacoes .conteiner-contatos  {
    display: flex;
    gap: 10px;
}

.home .conteiner-informacoes .conteiner-contatos a {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--details-color);
    border-radius: 10px;
    transition: 1s;
    text-decoration: none;
    color: var(--font-color);
    
    
     
}

.home .conteiner-informacoes .conteiner-contatos a:hover::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    z-index: -1;
    width: 95%;

    border-radius: 0 0 6px 6px ;
    padding: 10px 1.5px 3px 1.5px;
    color: var(--details-color);
    background-color: var(--font-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    opacity: 9;

}

.home .conteiner-informacoes .conteiner-contatos a:hover::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    z-index: -1;
    width: 95%;

    border-radius: 0 0 6px 6px ;
    padding: 10px 1.5px 3px 1.5px;
    color: var(--details-color);
    background-color: var(--font-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    opacity: 9;

}

.home .conteiner-informacoes .conteiner-contatos a:nth-child(1):hover::after {
    content: "GitHub";
}

.home .conteiner-informacoes .conteiner-contatos a:nth-child(2):hover::after {
    content: "LinkIdin";
}

.home .conteiner-informacoes .conteiner-contatos a:nth-child(3):hover::after {
    content: "Email";
}

.home .conteiner-informacoes .conteiner-contatos a:nth-child(4):hover::after {
    content: "Curriculo";
}

.home .conteiner-informacoes .conteiner-contatos a:hover {
    box-shadow: 0px 0px 0px 1px var(--font-color);
    transition: 1s;
}

.sobre-mim {
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 0 7vw 10vw 5vw;
    gap: 2vw;
}

.sobre-mim .linha {
    width: 2vw;
    height: 80%;
    background: var(--details-color);
    border-radius: 10vw;
}

.sobre-mim .conteiner-descricao {
    display: flex;
    flex-direction: column;
    height:60%;
    gap: 15%;
    
}

.sobre-mim .conteiner-descricao h2 {
    font-size: 2.5vw;
}

.sobre-mim .conteiner-descricao p {
    font-size: 1.5vw;
    width: 80%;
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding-top: 10vw;
    position: relative;

}

.projetos::before {
    content: url(asset/svg/linha-bottom.svg);
    position: absolute;
    left: -10vw;
    bottom: -30vw;
    z-index: -1;
    transform: rotate(180deg);

}

.conteiner-subtitulo {
    display: flex;
    align-items: center;
    width: 97%;
    height: 4vw;
    border-radius: 15px;
    padding-left: 15px;
    background: var(--details-color);
}
.projetos img{
    width: 100px;
}

.projetos .conteiner-projetos {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center ;
    gap: 1vw;
}

.projetos .conteiner-projetos .conteiner-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    background: var(--details-color);

}

/*
.projetos .conteiner-projetos .conteiner-conteudo:hover {
    height: 85vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
*/

.projetos .conteiner-projetos .conteiner-conteudo .capa {
    width: 100% ;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
}


.projetos .conteiner-projetos .conteiner-conteudo .dados {
    display: flex;
    font-size: 1.5vw;
    width: 100%;
    margin-top: .5vw;
    justify-content: space-between;
    align-items: center;
}

.projetos .conteiner-projetos .conteiner-conteudo .dados h3{
    margin-left: .5vw;
}

.projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento {
    display: flex;
    gap: .3vw;
}


.projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento img{
    width: 1.5vw;
}


.projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--background-color);
    border-radius: 10px;
    transition: 1s;
}

.projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento a:hover {
    box-shadow: 0px 0px 0px 1px var(--font-color);
    transition: 1s;
}


.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vw;
    padding-top: 10vw;
    gap: 3vw;

}

.tecnologias .conteiner-subtitulo {
    display: flex;
    justify-content: center;
    
}

.tecnologias .conteiner-tecnologias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.tecnologias .conteiner-tecnologias .conteiner-divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.tecnologias .conteiner-tecnologias img {
    width: 5vw;
    height: 5vw;
    
}

.tecnologias .conteiner-tecnologias div {
   position: relative;
    
}

.tecnologias .conteiner-tecnologias .conteiner-divisao div:hover::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 0 .3vw 0 .3vw;
    border-radius: 5px;
    width: 7vw;
    height: 1.5vw;
    background-color: var(--details-color);
    position: absolute;
    left: -1.5vw;
    bottom: -2vw;

}

.tecnologias .conteiner-tecnologias .conteiner-divisao  div:nth-child(1):hover::before {
    content: 'Bootstrap';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao div:nth-child(2):hover::before {
    content: 'Figma';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao div:nth-child(3):hover::before {
    content: 'CSS';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao:nth-child(2) div:nth-child(1):hover::before {
    content: 'HTML';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao:nth-child(2) div:nth-child(2):hover::before {
    content: 'Git';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao:nth-child(2) div:nth-child(3):hover::before {
    content: 'JavaScript';
}

.tecnologias .conteiner-tecnologias .conteiner-divisao:nth-child(3) div:nth-child(1):hover::before {
    content: 'NodeJS';
}

.contatos {
    display: flex;
    flex-direction: column;
    background-color: var(--details-color);
    height: auto;
    border-radius:50px 50px 0 0;
    align-items: center;
    padding-top: 3vw;
    gap: 2vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.contatos::before {
    content: url(asset/svg/linha-mid.svg);
    position: absolute;
    left: -20vw;
    z-index: 0;

}

.contatos::after {
    content: url(asset/svg/linha-top.svg);
    position: absolute;
    top: -15vw;
    right: -80Vw;
    z-index: 1;
    transform: rotate(15deg);

}


.contatos .conteiner-icon-contatos {
    display: flex;
    flex-direction: row;    
    gap: .5vw;

}

.contatos a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    background-color: var(--background-color);
    border-radius: 10px;
    transition: 1s;
    z-index: 2;
}

.contatos a:hover {
    box-shadow: 0px 0px 0px 1px var(--font-color);
    transition: 1s;
}

.contatos a img{
    width: 60%;
}

.direitos {
    display: flex;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 5px 0 7px 0;

    background-color: var(--background-color);
    border-radius: 10px 10px 0 0;
    font-size: 12px;
    margin-top: 1vw;
}



@media (max-width:1000px) {

    header nav a {
        font-size: 1.5vw;
    }

    .home .conteiner-img img {
        width: 340px;
        height: 340px;
    }

    .home #linha-1 {
        width: 65%;
        top: -0px;
        left: -80px;
    }
    
    .home #linha-2 {
        top: 400px;
        right: -400px;
    }

    .sobre-mim .linha {
        width: 3vw;
    }

    .sobre-mim .conteiner-descricao {
        gap: 2vw;
    }

    .sobre-mim .conteiner-descricao h2 {
        font-size: 3vw;
    }
    
    .sobre-mim .conteiner-descricao p {
        font-size: 2.2vw;
        width: 80%;
    }

    .conteiner-subtitulo {
        height: 5vw;
        border-radius: 10px;
    }

    .projetos .conteiner-projetos .conteiner-conteudo .dados {
        font-size: 2vw;
        margin-top: 1vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento img{
        width: 2vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento a{
        width: 3.5vw;
        height: 3.5vw;
    }

    .tecnologias .conteiner-tecnologias .conteiner-divisao div:hover::before {
        font-size: 2vw;
        padding: 0 1vw 0 1vw;
        border-radius: 5px;
        width: 8.5vw;
        height: auto;
        left: -2.5vw;
        bottom: -4vw;
    }

    .contatos {
        gap: 1vw;
    }

    .contatos a{
        width: 4vw;
        height: 4vw;
    }

    .direitos {
        width: 45%;
        height: auto;
    }
}

@media (max-width:800px) {

    header {
        height: 5vw;
    }
    
    header h2 {
        font-size: 2.5vw;
    }

    header nav a {
        font-size: 2vw;
    }

    .home {
        flex-direction: column;
        padding: 20vw 0 0 0;
        gap: 2vw;
    }

    .home .conteiner-img img {
        width: 300px;
        height: 300px;
    }

    .sobre-mim .linha {
        width: 5vw;
    }

    .sobre-mim .conteiner-descricao {
        gap: 3vw;
    }

    .sobre-mim .conteiner-descricao h2 {
        font-size: 3.5vw;
    }
    
    .sobre-mim .conteiner-descricao p {
        font-size: 2.5vw;
        width: 80%;
    }

    
    .conteiner-subtitulo {
        width: 96%;
        height: 5.5vw;
        padding: 4px 0 4px 15px;
        border-radius: 10px;
    }

    .projetos::before {
        left: -10vw;
        bottom: 60vw;
        transform: rotate(30deg);
    
    }

    .projetos .conteiner-projetos .conteiner-conteudo {
        width: 45vw;
    }
    .projetos .conteiner-projetos .conteiner-conteudo .dados {
        font-size:3vw;
        margin-top: 1vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento img{
        width: 3vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento a{
        width: 4.5vw;
        height: 4.5vw;
    }

    .tecnologias .conteiner-tecnologias img {
        width: 6vw;
        height: 6vw;
        
    }

    .tecnologias .conteiner-tecnologias .conteiner-divisao div:hover::before {
        font-size: 2.5vw;
        padding: 0 1vw 0 1vw;
        border-radius: 5px;
        width: 10.5vw;
        height: auto;
        left: -3vw;
        bottom: -4vw;
    }

    .contatos {
    
        height: 15vw;
        border-radius:40px 40px 0 0;
    }

    .contatos .conteiner-icon-contatos {
        display: flex;
        flex-direction: row;    
        gap: .5vw;
    
    }
    
    .contatos a{
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 10px;
    }
    
    
    .contatos a img{
        width: 70%;
    }

    .direitos {
        width: 60%;
        height: auto;
    }
}

@media (max-width:600px) {

    .home #linha-1 {
        width: 0;
    }

    header {
        z-index: 1;
        height: 50px;
    }

    header h2 {
        font-size: 20px;
    }

    header .menu {
        background: url(asset/svg/menu.svg) no-repeat;
        margin-right: 40px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    header nav {
        z-index: -1;
        display: flex;
        position: absolute;
        top: -50px;
        padding: 8px;
        right:-1vw;
        left: 2vw;
        border-radius: 5px;
        justify-content: space-between;
        background: var(--details-color);
        transition: 1s;
        gap: 4vw;
    }

    header nav.active {
        top: 55px;
        right:-1vw;
        left: 2vw;
        transition: 1s;
    }
    
    header nav a {
        z-index: 3;
        font-size: 4vw;
        text-decoration: none;
        color: var(--font-color);
        transition: 1s;
    }
    
    header nav a:hover {
        color:rgb(131, 131, 131);
        transition:1s ;
    }

    
    .home .conteiner-img img {
        width: 260px;
        height: 260px;
    }

    .home .conteiner-img::after {
        width:100px;
        height:100px;
    }

    .home .conteiner-img .icon-js {
        right: -30px;
        top:-20px;
    }

    
    .home .conteiner-informacoes {
        width: 70%;
    
    }

    .home .conteiner-informacoes  h1 {
        font-size: 6vw;
    }
    
    .home .conteiner-informacoes  h2 {
        font-size: 6vw;
    }

    .home #linha-1 {
        width: 0;
    }

    .sobre-mim {
        height: 100vh;
    }

    .sobre-mim .linha {
        width: 6vw;
        height: 80%;
        background: var(--details-color);
        border-radius: 10vw;
    }
    
    .sobre-mim .conteiner-descricao {
        display: flex;
        flex-direction: column;
        height:75%;
        gap: 5vw;
        
    }
    
    .sobre-mim .conteiner-descricao h2 {
        font-size: 6vw;
    }
    
    .sobre-mim .conteiner-descricao p {
        font-size: 14px;
        width: 80%;
    }


    .conteiner-subtitulo {
        width: 92%;
        font-size: 15px;
        height: 40px;
    }

     

    .projetos .conteiner-projetos .conteiner-conteudo {
        width: 92vw;
    }
    .projetos .conteiner-projetos .conteiner-conteudo .dados {
        font-size:4.5vw;
        margin-top: 2.5vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento {
        gap: 5px;
    }

    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento img{
        width: 5vw;
    }
    
    .projetos .conteiner-projetos .conteiner-conteudo .c-redirecionamento a{
        width: 8.5vw;
        height: 8.5vw;
    }

    .tecnologias {
        height: auto;
        padding-top: 15vw;
        padding-bottom: 10vw;
        gap: 10vw;
    
    }
    
    .tecnologias .conteiner-tecnologias  {
        display: flex;
        flex-direction: column;
        gap: 9vw;
    }

    .tecnologias .conteiner-tecnologias .conteiner-divisao {
        display: flex;
        gap: 35px;   
    }

    .tecnologias .conteiner-tecnologias .conteiner-divisao div:hover::before {
        font-size: 4vw;
        width:137%;
        height: auto;
        left: -3vw;
        bottom: -5vw;
    }
    
    .tecnologias .conteiner-tecnologias img {
        width: 15vw;
        height: 15vw;
        
    }

    .contatos {
        height: auto;
        padding: 20px 0 0 0;
        gap: 4vw;
    }

    .contatos .conteiner-icon-contatos {
        gap: 2vw;

    }
    
    .contatos a{
        width: 40px;
        height:40px;
        border-radius: 10px;
    }
    
    .direitos {
        width: 80%;
        height: auto;
    }
}


@keyframes up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }